html, body {
	height: 100%;
}

body {
	background-color: #E5EAF8;
	margin: 0;
	font-family: Helvetica, sans-serif;;
	overflow: hidden;
}

a {
	color: #ffffff;
}

.ui-message-info,.ui-message-error,.ui-message-warn,.ui-message-fatal {
	border: 0!important;
	margin: 0!important;
	padding: 0!important;
}

.ui-messages-error,.ui-message-error {
	color: #D8000C;
	background-color: #fff!important;
}

/*
.ui-theme {
	color: #D8000C!important;
	background-color: #fff!important;
}
*/

#formMain\3A tasksList {
	/* width: 700px!important; */
	width: 100%!important;
	height: 360px!important;
}

.ui-selectlistbox-item span {
	margin-left: 5px;
}

.ui-selectlistbox-listcontainer {
	width: 100%!important;
}

.ui-widget-content {
	/* 
	border: 1px solid black;	
	*/
	border: none!important;	
}

.ui-layout-unit-content {
	border: none!important;	
	height: 250px;
}

/* 
#formMain\3A leftPanel {
	height: 250px;
}
*/

/* 
#formMain\3A rightPanel {
	height: 250px;
}
*/

.max-width, #formMain\3A dueDate_input, #formMain\3A newDueDate_input{
	width: 100%;
}

.width-medium {
	width: 50%;
}

.width-small {
	width: 100px;
}

.margin-top20 {
	margin-top: 20px;
}

.bottom-left {
	position: fixed;
	left: 0px;
	bottom: 0px;
}

.bottom-right {
	position: fixed;
	right: 0px;
	bottom: 0px;
}

/*
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #c4c4c4 -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0;
    border: 1px solid #a8a8a8;
    color: #4f4f4f;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
*/

.ui-widget-header, .blueGradient {
	/* standard */
    background: #E5EAF8 linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0))!important;

	/* chrome */
    background: #E5EAF8 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)))!important;

	/* opera */
    background: #E5EAF8 -o-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0!important;

	/* firefox */
    background: #E5EAF8 -moz-linear-gradient(center top , rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0!important;

    border: 1px solid #a8a8a8;
    color: #333;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

#formMain\3A displayAddTask table, #formMain\3A displayAddTask .ui-panelgrid-cell {
	border: none!important;
}

#formMain\3A displayAddTask label {
	color: #000;
}


